@import "../variables";

@keyframes #{$classname}-grow {
  0% {
    transform: scale(0);
  }
  50% {
    opacity: 1;
  }
}

.#{$classname}-grow {
  display:          inline-block;
  width:            $spinner-width;
  height:           $spinner-height;
  vertical-align:   text-bottom;
  background-color: currentColor;
  border-radius:    50%;
  opacity:          0;
  animation:        #{$classname}-grow .75s linear infinite;

  &.sm {
    width:  $spinner-width-sm;
    height: $spinner-height-sm;
  }
}